*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 1280px;
    height: 802px;
}

#image1{
    width: 640px;
    height: 401px;
    position: absolute;
    left: 640px;
}

#image2{
    width: 640px;
    height: 401px;
    position: absolute;
    top: 401px;
}

#ingredientes{
    width: 640px;
    height: 401px;
    position: absolute;
    background: rgb(223, 221, 221);
    padding: 30px 100px;
}

#passos{
    width: 640px;
    height: 401px;
    position: absolute;
    left: 640px;
    top: 401px;
    background: rgb(223, 221, 221);
    padding: 40px 100px;
}

img{
    width: 100%;
    height: 100%;
}

h1{
    margin-bottom: 15px;
}

p{
    margin-bottom: 10px;
}

h2{
    margin-bottom: 8px;
    color: tomato;
}

#link{
    display: inline-block;
    margin-top: 80px;
    color: blue;
}

ol{
    display: inline-block;
    margin-left: 15px;
}

ul{
    display: inline-block;
    margin-left: 18px;
}